header h1 {
  text-align: center;
}

.game-container {
  width: 100%;
}

.game-container * {
  font-family: 'Saira Condensed', 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

.game-header {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 auto;
  color: #673ab7;
  padding-bottom: 10px;
  font-family: 'Supermercado One', 'Lucida Sans', 'Lucida Sans Regular', sans-serif;

}

.game-area {
  display: flex;
  justify-content: center;
}

.outer-box {
  display: flex;
  width: 500px;
  margin: auto auto;
  justify-content: center;
}

.inner-box {
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive {
  background-color: #656;
  border: 1px solid #444;
  /* width: 50px;
  height: 50px; */
}

.avatar-board-img {
  width: 47px;
  position: absolute;
  z-index: 1;
}

.weapon-board-img {
  width: 23px;
}

.available-move {
  background-color: #bcf8bc;
  border: 8px solid #fff;
}

.player-box-1 {
  background-color: #663399;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-box-2 {
  background-color: #008000;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  text-align: center;
}

.hide {
  display: none;
}

.game-board {
  margin-left: 1px;
  margin-right: 1px;
}

.game-board section.inactive-box {
  background-color: #555;
}

.active-player {
  border: 3px dotted #0b8f0b;
}

.error-msg {
  background-color: #f07474;
  color: #8b0000;
  border: 1px solid #444;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  width: 400px;
}

.invisible {
  opacity: 0;
  transition: 1000ms;
}

.game-container h3 {
  margin: auto auto 0 auto;
}

.game-container p {
  margin: 0 auto auto auto;
}

.game-container figure {
  margin: 8px 20px;
}

.health-meter {
  box-sizing: content-box;
  background-color: #555;
  width: 80%;
  height: 22px;
  border: 2px solid #aaa;
  border-radius: 3px;
}

.hp-meter-value {
  color: #fff;
  width: 100%;
  height: 22px;
  display: block;
  background-color: #6ef165;
  border: 1px solid #777;
  text-align: center;
  font-family: 'Supermercado One', 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-size: 1rem;
}



.weapon {
  width: 50px;
}

.weapon-description {
  font-size: 12px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}